@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');

:root{
    --background-pri-color: #e0e0e0;
    --lightDark: #dceee5;
    --dark: #14122b;
    --navLink : #011a01;
    --offWhite : rgb(131, 129, 146);
    --primary-link-color: #235789;
    --secondary-link-color: #123456;
}

body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    padding: 0rem;
    margin: auto;
}
hr{
    margin: 1rem 0rem;
}

/* container */

.center-container{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 700px;
    margin: auto;
}
.fluid-container{
    padding-left: 1rem;
    padding-right: 1rem;
}


/* Links */
.nav-links{
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--navLink);
}

.link-active{
    border:  2px solid var(--navLink);
}

.links{
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.primary-links{
    background-color: var(--background-pri-color);
    color: azure;
    border: 1px solid var(--background-pri-color);
    
}

.secondary-links{
    color: var(--background-pri-color);
    background-color: azure;    
    border: 1px solid var(--background-pri-color);
}

.tp{
    margin-top: 1rem;
}

.social{
    color: var(--navLink);
    font-size: 1.5rem;
    padding: rem;
    margin: 0 0.5rem;
    text-decoration: none;
}

.facebook:hover{
    color:blue;
}
.twitter:hover{
    color:rgb(74, 154, 207);
}
.instagram:hover{
    color:rgb(252, 79, 79);
}
.linkedin:hover{
    color:rgb(2, 34, 179);
}
.github:hover{
    color:rgb(41, 41, 41);
}



/* Lists */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}


/* Nav */
.navigation{
    background-color: var(--background-pri-color);
    padding: 1rem;
    color: white;
    border-bottom-right-radius: 2rem;
    font-weight: bold;
}

.nav-brand{
    color:VAR(--navLink);
    font-weight: bold;
    font-size: 2rem;
    font-family: cursive;
}

.navigation .links{
    color: white;
}

.navigation .nav-pills{
    text-align: center;
}

.image-head{
    border-radius: 50%;
    padding-left: 1rem;
    padding-top: 1rem;
}

/* HEADING */
.hero{
    padding: 2rem;
    text-align: center;
    color: var(--navLink)
}

.hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark);
    font-weight: bold;
    font-size: 40px;
}

.hero-heading .heading-inverted {
    color: var(--background-pri-color);
}


/* Section */
.section h3{
    text-align: center;
    color: var(--dark);
    font-weight: bold;
    font-size: 30px;
    color: var(--background-pri-color);
}

.Off-white{
    background-color: var(--offWhite) ;
}

.center-container{
    padding-bottom:1rem ;
}

.light-dark{
    background-color: var(--lightDark);
}

section{
    padding: 1rem 0rem;
    border-radius: 1rem 0rem;
    margin-top: 2rem;
}


/* footer */
.footer{
    background-color: var(--background-pri-color);
    padding: 1rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.footer ul{
    padding-inline-start: 0px;
    margin-top:30px;
}

.footer-head{
    font-weight: bold;
    font-size: 35px;
    font-family: cursive;
    color: var(--navLink);
}

.footer-div{
    color: var(--navLink);
}

/* blog */
.underline{
    text-decoration: underline;
}

.inline-links{
    text-decoration: none;
    color: var(--background-pri-color);
}

.br{
margin: 10px;
}


/* RESPONSIVE DESIGN */

@media (max-width:768 px){
    body{
        display: flex;
        max-width: 700px;
        padding: 0 1.5rem;
    }
}